@use 'variables' as *;
@use 'sass:math';
@use 'sass:color';

$base-color: #c6538c;
$cat-height: 20vh;
$cat-score-height: math.floor(math.div($cat-height, 4));

.categories {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.category {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: $cat-height;
    width: 90%;
    margin-left: 10%;
    border-bottom-left-radius: 18px;
    & > .card-header {
        display: inline-block;
        position: absolute;
        top: 3vh;
        left: 3vh;
        height: 2.3rem;
        line-height: 2.3rem;
    }
    .cat-score {
        position: absolute;
        top: 1vh;
        right: 5vh;
        background-color: $base-color;
        height: $cat-score-height;
        font-size: $cat-score-height    
    }

    .cat-score::after {
        position:absolute;
        top:0;
        left:100%;
        content: "";
        background-image: url('../assets/svg/star.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: $cat-score-height;
        width: $cat-score-height;
    }
}

.cat-p {
    color: green;
}

.cat-i {
    color: pink;
}

.cat01 {
    font: 'Roboto';
    color: orange;
}

.category-not-played {
  background-blend-mode: saturation;
}

