@use 'variables' as *;
@use 'sass:math';
@use 'sass:color';

$base-color: #c6538c;
$cat-height: 20vh;
$cat-score-height: 11vh;

.categories {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 20%;
}

.category {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: $cat-height;
    margin-left: 5vw;
    border-bottom-left-radius: 18px;
    & > .card-header {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 3vh;
        height: 2.3rem;
        line-height: 11vmin;
    }
    .cat-score {       
        position: absolute;
        top: 1vh;
        right: 1vh;
        background-color: transparent;
        width: $cat-score-height;
        height: $cat-score-height;
        font-size: 3vh;
        background-image: url('../assets/svg/star.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}

.cat-p {
    color: #ac6e21;
    text-shadow: 1px 1px black;
}

.cat-i {
    color: #ac4121;
    text-shadow: 1px 1px black;
}

.cat01 {
    font: 'Roboto';
    color: orange;
}

.category-not-played {
  background-blend-mode: saturation;
  color: #b9b9b9;
}

