@use 'variables' as *;

.answer-popup {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: $max-app-width;
    height: 70vh;
    z-index: 20;
    background-color: white;
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
    overflow-x: clip;
    transition: 1s;

}

.popup-hidden {
    display: none;
    bottom: -70vh;
}

.popup-icon {
    position: absolute;
    top: -5vh;
    border-radius: 50%;
    left: calc(50% - 4vh);
    width: 8vh;
    height: 8vh;
    background-color: white;
    padding: 1vh;
}

.popup-image {
    width: auto;
    height: 35vh;
}
.popup-info {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 1.65rem;
    font-size: 1.1rem;
}

.popup-author {

}
.popup-name {

}
.popup-year {

}

.popup-button {
    margin-top: 2vh;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19;
    background-color: black;
    opacity: 0.5;
}

.overlay-hidden {
    display: none;
}